
:root {
	--dark-gray: #444;
	--deep-blue: #006B80;
	--mediumblue: #1F98B0;
	--lightblue: #55C3D9;
	--pastel-blue: #AAE1EC;
	--baby-blue: #D5F0F6;

	--nav-width: 140px;
}

/***********************/
/*     Major Styling    */
/***********************/

main { padding: 3em; margin-left: var(--nav-width); }
body {
	background-color: var(--pastel-blue);
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
}

h1, h2, h3 { font-family: "Goudy Old Style", "Times New Roman", Serif; font-weight: bold; }

h1 { margin-top: 0; color: var(--deep-blue); }
h2 { color: var(--mediumblue); }
h3 { color: var(--deep-blue); }

/* Links */
/* No a:visited or nav links will act up */
a { color: var(--mediumblue); }

a:hover { color: var(--pastel-blue); text-decoration: none; }
a:active { color: var(--pastel-blue); text-decoration: none; }

header {
	background-color: var(--mediumblue);
	height: 50px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	/* "Times New Roman" must be in quotation marks because of the white space*/
	font-family: "Goudy Old Style", "Times New Roman", Serif;
	margin-bottom: 0;
	/* Not sure why padding on bottom has to be so huge in order for it to look nice */
	padding: 15px 15px 50px 15px;
}
header a {
	color: #fff;
	text-decoration: none;
}

#wrapper {
	background-color: white;
	width: 80%;
	min-width: 960px;
	max-width: 2048px;
	margin: 0 auto;
}

footer {
	margin-top: 2em;
	font-size: 90%;
	font-style: italic;
	text-align: center;
	padding: 20px;
}

/***********************/
/*      Navigation     */
/***********************/
/* Template courtesy of https://css-tricks.com/solved-with-css-dropdown-menus/ */

nav {
	float: left;
	background-color: var(--baby-blue);
	height: 100%;
	position: absolute;
	width: var(--nav-width);
}
nav a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: var(--deep-blue);
}
nav ul ul a {
	padding-left: 25px;
	color: var(--mediumblue);
}
nav ul { padding: 0; margin: 0; }
nav li { list-style-type: none; }

nav a:hover { color: white; background-color: var(--lightblue); }

.toggle-button { display: none; }

/***********************/
/*       Utilities     */
/***********************/

.float-left { float: left; }
.float-right { float: right; }

.columns > div { float: left; }
.column2 { float: left; width: 50%; }
.column70 { width: 70%; }
.column30 { width: 30%; }
.columns .left-column { padding-right: 0.5em; }
.columns .right-column { padding-left: 0.5em; }
.columns:after { content: ""; display: table; clear: both; }

.clearfix:after {
	content: "";
	display: table;
	clear: both;
	margin: 0;
	padding: 0;
}
.spacer {
	height: 25px;
}

.accentbox {
	background-color: var(--baby-blue);
	padding: 1em;
	font-size: 1.2em;
	color: var(--deep-blue);
}

button {
	padding: 1em;
	background-color: var(--mediumblue);
	color: white;
	border: none;
	border-radius: 30px;
	font-size: 1.2em;
	cursor: pointer;
}
button:hover { background-color: var(--lightblue); }
button:active { background-color: var(--baby-blue); }


/* Quotes */
.quotebox {
	background-color: var(--baby-blue);
	padding: 10px 20px;
	width: 90%;
	margin: 0 auto 20px auto;
	color: var(--dark-gray);
}
.quotebox p { font-family: "Goudy Old Style", serif; font-size: 1.4em; }
.quotebox p::before {
	content:url(_pics/quote.png);
	opacity: 50%;
	float: left;
	margin-right: 1.5em;
	margin-top: 0;
}
.quotebox .attr { text-align: right; margin: 0 2em 0.8em 0; }
.quotebox .attr::before { content:"— "; }

.progress {
	background-color: var(--baby-blue);
	width: 90%;
	height: 2em;
	border-radius: 1em;
	margin-bottom: 0.2em;
}
.progress span {
	display: inline-block;
	background-image: linear-gradient(to right, var(--lightblue), var(--mediumblue));
	border-radius: 1em;
	height: 100%;
	padding-top: 0.5em;
	padding-right: 1em;
	text-align: right;
	color: #fff;
	cursor: pointer;
}


/***********************/
/*    Image Displays   */
/***********************/

.flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.flexbox img { max-width: 270px; }

.flexbox img:hover { opacity:70%; }
.flexbox img { padding: 0.1em; }
.social img:hover { opacity: 70%; }


/* Image gallery */
/* Thanks to https://www.w3schools.com/css/tryit.asp?filename=trycss_image_pic_gallery */
.pic {
	background-color: var(--baby-blue);
	padding: 10px;
}
.pic:hover { opacity: 70%; }
.pic img { width: 100%; height: auto; }
.desc { padding: 1em; text-align: center; color: var(--deep-blue); }

* { box-sizing: border-box; }

.gallery, .social {
	padding: 0 5px;
	float: left;
	width: 24.99%;
}

/* Display gallery */
/* Base: https://www.w3schools.com/howto/howto_js_tab_img_gallery.asp */
.displaybox {
	background-color: #eee;
	max-width: 25%;
	float: left;
	margin: 0.5em;
	padding: 1em;
	text-align: center;
	height: 10em;
}
.displaybox:hover { opacity: 0.8; }
.displaybox p { font-size: 1.2em; }
.displaycolumn {
  float: left;
  margin: 0;
}
.displaycolumn img {
  opacity: 0.8;
  cursor: pointer;
}
.displaycolumn img:hover { opacity: 1; }
.displayrow:after {
  content: "";
  display: table;
  clear: both;
}
.bigpic { position: relative; }
#imgtext {
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.2em;
  color: white;
  font-size: 1.5em;
}


.socials { text-align: center; }
.socials img { width: 50px; }
.socials img:hover { opacity: 80%; }

/* Overrides for social gallery */
.social { width: 12em; }
.social .pic img {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}



/***********************/
/*       Padding       */
/***********************/
.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }

/***********************/
/*     Mobile CSS      */
/***********************/
/* Tablets */
@media only screen and (max-width: 64em) {
	body {
		margin: 0;
		background-color: white;
	}
	
	#wrapper {
		min-width: 0;
		width: auto;
		box-shadow: none;
	}
	
	footer { margin-left: 0; }
	
	.gallery { width: 49.99%; margin: 6px 0; }
}

/* Mobile phones */
@media only screen and (max-width: 37.5em) {

	.desktop-only { display: none; height: 0; overflow: hidden; }
	.m-width100 { width: 100%; }

	.columns .left-column, .columns .right-column { padding: 0; }
	
	main {
		margin-left: 0;
		padding: 1em 1.5em 0.2em 1.5em;
		font-size: 90%;
	}
	
	h1 { font-size: 1.7em; }
	
	nav { display: none; width: 100%; height: auto; position: relative; }
	nav a {
		display: block;
		border-bottom: 2px solid var(--mediumblue);
	}
	.toggle-button {
		display: block;
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
	}
	
	.accentbox { width: 100%!important; }
	
	.gallery { width: 100%; }
	
	/* Change 2 columns to 1 */
	.column2 {
		float: none;
		width: 100%;
	}
	
	label { float:none; text-align: left;}
	input[type="submit"] { margin-left: 0;}
	
	#mobile { display: inline; }
	#desktop { display: none; }
}