/* Colors
Deep Purple		#6C1FB9 
Medium Purple	#9C22CB
Medium Pink		#D5589A 
Pale Pink		#
Paler Pink		#FAC8D5
Palest Pink		#FDE4EA

*/

body {
	background-color: #FAC8D5;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
}

/* Links */
a { color: #9C22CB; }
/* a:visited { color: #AC0C22; } was interfering with nav links */
a:hover { color: #D5589A; text-decoration: none; }
a:active { color: #FFB3C7; text-decoration: none; }

header {
	background-color: #6C1FB9;
	height: 50px;
	color: #FAC8D5;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	/* "Times New Roman" must be in quotation marks because of the white space*/
	font-family: Goudy Old Style, "Times New Roman", Serif;
	margin-bottom: 0;
	/* Not sure why padding on bottom has to be so huge in order for it to look nice */
	padding: 15px 15px 50px 15px;
}

nav {
	background-color: #D5589A;
	background:linear-gradient(0deg, rgba(213,88,154,1) 0%, rgba(156,34,203,1) 100%);
	text-align: center;
	height: 100%;
	width: 20%;
	float: left;
	margin-right: 50px;
	padding: 0;
}

nav li {
	list-style-type: none;
}


nav a {
	display: inline-block;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
	
}

nav a:hover {
	color: #FAC8D5;
	background-color: rgba(255,255,255,0.2);
}

nav a:active {
	color: #000;
}

main {
	padding: 1px 20px 20px 20px;
	margin-left: 20%;
}

h1, h2, h3 {
	font-family: Goudy Old Style, "Times New Roman", Serif;
	font-weight: bold;
}

h1 {
	margin-top: 0;
	color: #6C1FB9;
}

h2 { color: #D5589A; }
h3 { color: #6C1FB9; }



#wrapper {
	background-color: #fff;
	width: 80%;
	min-width: 960px;
	max-width: 2048px;
	margin-left: auto;
	margin-right: auto;
	/* box-shadow: horizontal offset, vertical offset, blur radius (optional), default spread distance (optional), color */
	box-shadow: 3px 3px 2px #D5589A;
}

main {
	padding: 50px;
}

footer {
	margin-top: 2em;
	font-family: Goudy Old Style, "Times New Roman", Serif;
	font-size: 75%;
	font-style: italic;
	text-align: center;
	padding: 20px;
}

img .me {
	float: right;
	margin-left: 2em;
}


/* Quotes */
.quotebox {
	background-color: #FDE4EA;
	padding: 10px;
	margin: 1em;
	color: #666;
}
.quotebox p {
	font-family: "Goudy Old Style", serif;
	font-size: 1.4em;
	
}
.quotebox p::before {
	content:url(quote.png);
	opacity: 50%;
	float: left;
	margin-right: 2em;
	margin-top: 0;
	
}
.quotebox .attr {
	text-align: right;
	margin: 0 2em 0.8em 0;
}
.quotebox .attr::before {
	content:"— ";
}

/* Columns */

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.columns:after {
  content: "";
  display: table;
  clear: both;
}


/* Progress bars */

.progress {
	background-color: #FDE4EA;
	width: 20em;
	height: 2em;
	border-radius: 1em;
	margin-bottom: 0.2em;
}
.progress span {
	display: inline-block;
	background-image: linear-gradient(to right, #FFB3C7, #D5589A);
	border-radius: 1em;
	height: 100%;
	padding-top: 0.5em;
	padding-right: 1em;
	text-align: right;
	color: #FDE4EA;
}


/* Image gallery */
/* Thanks to https://www.w3schools.com/css/tryit.asp?filename=trycss_image_pic_gallery */

.pic {
	background-color: #FAC8D5;
	padding: 10px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.pic img {
	width: 100%;
	height: auto;
}

.pic img:hover {
	opacity: 70%;
}

.desc, figcaption {
	padding: 15px;
	text-align: center;
	color: #6C1FB9;
}

* {
	box-sizing: border-box;
}

.gallery {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
}

/* Social gallery */

.social figure {
	background-color: #FAC8D5;
	padding: 10px;
	margin: 1em;
}
.social figure:hover {
	opacity: 70%;
}
/* Ugh why won't this center? */
.social img {
	display: inline-block;
	padding-left: auto;
	padding-right: auto;
	background-color: #fff;
	border: 10px solid #fff;
	height: 100px;
}

/* Instagram gallery */

.instagallery img:hover {
	opacity:70%;
}
.instagallery img {
	padding: 0.1em;
}
.social img:hover {
	opacity: 70%;
}




/* Override the style for if we have a small thing */
@media only screen and (max-width: 64em) {
	body {
		margin: 0;
		background-color: #fff;
	}
	
	#wrapper {
		min-width: 0;
		width: auto;
		box-shadow: none;
	}
	
	main {
		margin-left: 0;
	}
	
	nav {
		float: none;
		width: 100%;
	}
	
	nav a {
		width: 100%;
	}
	
	footer {
		margin-left: 0;
	}
	
	.gallery {
		width: 49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 37.5em) {
	
	main {
		padding: 1em 1.5em 0.2em 1.5em;
		font-size: 90%;
	}
	
	h1 { font-size: 1.7em; }
	
	nav a {
		display: block;
		margin: 0;
		padding: 15px 0 15px 0;
		width: 100%;
		border-bottom: 2px solid #6C1FB9;
	}
	
	.gallery {
		width: 100%;
	}
	
	/* No room for my pretty face */
	.me {
		display: none;
	}
	
	label { float:none; text-align: left;}
	input[type="submit"] { margin-left: 0;}
	
	#mobile { display: inline; }
	#desktop { display: none; }
}