body {
	background-color: #E0F0F2;
	color: #333;
	font-family: Helvetica, sans-serif;
	font-size: 1.2em;
	margin: 0;
}

header {
	background-color: #DED6E5;
	background-image: url(pics/gradient.jpg);
	background-size: contain;
	padding: 0.75em;
	color: #543D66;
	font-weight: bold;
	text-shadow: 2px 2px white;
	font-size: 2em;
	text-align: center;
}

/* Navigation */
nav {
	text-align: center;
	height: 100%;
	width: 20%;
	float: left;
	padding: 0;
}
nav li { list-style-type: none; }
nav a {
	background-color: #DED6E5;
	display: inline-block;
	width: 100%;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	margin: 0;
	text-align: center;
	text-decoration: none;
	color: #342640;
	font-size: 1.2em;
}
nav a:hover { color: #fff; }
nav a:active { color: #fff; }

/* Boxes */
.blue   { background-color: #C1E1E4; }
.green  { background-color: #CCDFDB; }
.yellow { background-color: #F6E4C3; }
.orange { background-color: #FDDACF; }
.red    { background-color: #FECECB; }
.pink   { background-color: #FEBFD4; }
.purple { background-color: #DED6E5; }
nav .blue:hover   { background-color: #64B8C0; }
nav .green:hover  { background-color: #84AEA2; }
nav .yellow:hover { background-color: #D4AE67; }
nav .orange:hover { background-color: #FBAF8B; }
nav .red:hover    { background-color: #FE857F; }
nav .pink:hover   { background-color: #FE7FA9; }
nav .purple:hover { background-color: #AE93BE; }

.toggle-button { display: none; }

/* Text */

h1, h2, h3 { font-weight: normal; }
h1 { font-size: 2em; color: #736382; margin-top: 0; }
h2 { font-size: 1.7em; color: #31858B; }
h3 { font-size: 1.3em; color: #736382; }

a { color: #31858B; }



/* Main area */

#wrapper {
	background-color: #fff;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	min-width: 960px;
	max-width: 2000px;
	padding: 0;
}
main {
	padding: 2em;
	margin-left: 20%;
	font-family: 'Lato', sans-serif;
}

footer {
	background-color: #E0F0F2;
	padding: 2em;
	text-align: center;
}
.footer a { color: #0B3B40; }

hr {
	background: url(/neurodiversity/pics/gradient.jpg) repeat top left;
	background-size: contain;
	height: 15px;
	border: none !important;
	margin: 3em 0 3em 0;
}

.color-box {
	background-color: #E0F0F2;
	padding: 1em;
}
.color-box a { color: #0B3B40;}



/***********************
			Utilities
***********************/

.float-left { float: left; }
.float-right { float: right; }

.columns > div { float: left; }
.column2 { float: left; width: 50%; }
.column70 { width: 70%; }
.column30 { width: 30%; }
.columns .left-column { padding-right: 0.5em; }
.columns .right-column { padding-left: 0.5em; }
.columns:after { content: ""; display: table; clear: both; }

.clearfix:after {
	content: "";
	display: table;
	clear: both;
	margin: 0;
	padding: 0;
}

button {
	padding: 0.8em;
	background-color: #31858B;
	color: white;
	border: none;
	border-radius: 30px;
	font-size: 1em;
	cursor: pointer;
}
button:hover { background-color: #64B8C0; }
button:active { background-color: #C1E1E4; color: #543D66; }

/* Table */

table {
	margin: auto;
	border: 0;
	border-spacing: 0;
}
td, th {
	border: 0;
	padding: 0.5em;
	text-align: center;
}

tr:nth-of-type(even) { background-color: #EFEBF2; }
tr:first-of-type { background-color: #DED6E5; }

/* The caption on top of the table */
caption {
	font-weight: bold;
	font-size: 1.2em;
	padding-bottom: 0.5em;
}


/* Quiz */

.question {
	font-weight: bold;
	color: #543D66;
	margin-top: 1.2em;
	margin-bottom: 0.4em;
}
.answers { margin-bottom: 0.5em; }
.answers label { display: block; }

/***********************
				Padding
***********************/
.pb5  { padding-bottom: 5px;  }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }

.pt5  { padding-top: 5px;  }
.pt10	{ padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20	{ padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }

.pl5  { padding-left: 5px;  }
.pl10	{ padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20	{ padding-left: 20px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }

/* Tablets */
@media only screen and (max-width: 64em) {
	body {
		margin: 0;
		background-color: white;
	}
	#wrapper {
		min-width: 0;
		width: auto;
		box-shadow: none;
	}
	footer { margin-left: 0; }
	.gallery { width: 49.99%; margin: 6px 0; }
}

/* Mobile phones */
@media only screen and (max-width: 37.5em) {

	header { font-size: 1.5em; }

	.desktop-only { display: none; height: 0; overflow: hidden; }
	.m-width100 { width: 100%; }

	.columns .left-column, .columns .right-column { padding: 0; }
	
	main {
		margin-left: 0;
		padding: 1em 1.5em 0.2em 1.5em;
		font-size: 90%;
	}
	h1 { font-size: 1.7em; }
	
	nav { display: none; width: 100%; height: auto; position: relative; }
	nav a {
		display: block;
		border-bottom: 2px solid var(--dark-green);
	}
	.toggle-button {
		display: block;
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
	}
	
	.gallery { width: 100%; }
	
	/* Change 2 columns to 1 */
	.column2 {
		float: none;
		width: 100%;
	}
	
	label { float:none; text-align: left;}
	input[type="submit"] { margin-left: 0;}
	
	#mobile { display: inline; }
	#desktop { display: none; }
}