
:root {
	--gray:		#D9D9D9;
	--pink0:	#a84159;
	--pink1:	#d9728a;
	--pink2:	#F3AABB;
	--pink3:	#ffc3d4;
	--pink4:  #FFD4E1;
	--green0:	#00352B;
	--green1:	#025244;
	--green2:	#097864;
	--green3:	#40a48a;
	--green4:	#82D9C2;
	--green5:	#A0E9D5;
	--green6:	#CEF1E7;
}

/* Clock */
.clock {
	max-width: 150px;
	padding: 0.5em;
	background-color: var(--green6);
	border: 3px solid var(--green3);
	border-radius: 25px;
	color: var(--green1);
	font-family: Papyrus, sans-serif;
	font-weight: bold;
	font-size: 2em;
}

/* Opinionated calculator */
/* Derived from https://devdevshow.com/javascript-portfolio-projects-ideas/ */
.calculator {
  max-width: 460px;
  padding: 20px;
  border-radius: 15px;
	border: 5px solid var(--green2);
	/* Mystery traits */
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.calculator .buttons,
.calculator .input { letter-spacing: 5px; font-size: 1.8rem; }

/* Results */
.calculator .input {
  border: 1px solid var(--green3);
  height: 60px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  margin-right: 7px;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all .2s ease-in-out;
}

.calculator #opinion {
	padding-top: 10px;
}

.calculator .operators div,
.calculator .numbers div {
	display: inline-block;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
}

.calculator .operators div {
  background-color: var(--pink4);
  transition: background-color .2s;
}
.calculator .operators div:hover { background-color: var(--pink3); }
.calculator .operators div:active { background-color: var(--pink2); }

.calculator .leftPanel {
  display: inline-block;
}

.calculator .numbers div {
  background-color: var(--green6);
  transition: background-color .2s;
}
.calculator .numbers div:hover { background-color: var(--green5); }
.calculator .numbers div:active { font-weight: bold; }

.calculator div.equal {
  display: inline-block;
  width: 17%;
  text-align: center;
  padding: 119px 10px;
  margin: 10px 6px 10px 0;
  vertical-align: top;
  cursor: pointer;
  background-color: var(--pink3);
  transition: background-color .2s;
}
.calculator div.equal:hover { background-color: var(--pink2); }
.calculator div.equal:active { background-color: var(--pink1); }


